span.required-for-pub {
  color: #F00;
  font-weight: normal;
}

.required-for-pub .form-item label:after {
  content: '*';
  color: #AAA;
  font-weight: normal;
}

.required-for-pub .form-item .form-item label:after {
  content: '';
  display: none;
}
