span.required-for-pub {
  color: #AAA;
  font-weight: normal;
  font-size: 90%;
  
}



.required-for-pub .form-item label:after {
  content: '* Required for content to be published';
  color: #AAA;
  font-weight: normal;
  display: block;  /* remove this line if you want the asterisk and text to appear inline and to the right of the label. */
}

.required-for-pub .form-item .form-item label:after {
  content: '';
  display: none;
}